---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
import pandas as pd
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    ut=pd.read_fwf('university_towns.txt',header=None)
    states=[]
    ut.columns=['name']
    
    def chg(data):
        new_data=data
        i=new_data.find('[')
        j=new_data.find('(')
        k=new_data.find(":")
        if i==-1 and j==-1:
            return new_data
        elif j==-1 and i!=-1:
            states.append(new_data[:i].strip())
#             print(new_data[:i].strip())
            
            return new_data[:i].strip()
            
        elif (i==-1 or i>j) and (k==-1 or k>j):
#             print(new_data[:j].strip())
            
            return new_data[:j].strip()
             
            
            
    ut['name']=ut['name'].apply(chg)
    lst=[]
    j=0
#     print(states)
    
    for index,row in ut.iterrows():
            if j<len(states) and  row['name']==states[j]:
                lst.append(states[j])
                if j<=len(states)-1:
                    j=j+1       
            elif j<=len(states):
                lst.append(states[j-1])

#     ut['name'].head(20)
    ut['st']=lst
#     ut.head(20)

    ut=ut[ut.name!=ut['st']]
    col_name='st'
    fc=ut.pop(col_name)
    ut.insert(0,col_name,fc)
    ut.columns=["State", "RegionName"]
    ut.reset_index(drop=True,inplace=True)

    return ut

get_list_of_university_towns()
# import re
# import pandas as pd
# import numpy as np
# # list of unique states
# stateStr = """
# Ohio, Kentucky, American Samoa, Nevada, Wyoming
# ,National, Alabama, Maryland, Alaska, Utah
# ,Oregon, Montana, Illinois, Tennessee, District of Columbia
# ,Vermont, Idaho, Arkansas, Maine, Washington
# ,Hawaii, Wisconsin, Michigan, Indiana, New Jersey
# ,Arizona, Guam, Mississippi, Puerto Rico, North Carolina
# ,Texas, South Dakota, Northern Mariana Islands, Iowa, Missouri
# ,Connecticut, West Virginia, South Carolina, Louisiana, Kansas
# ,New York, Nebraska, Oklahoma, Florida, California
# ,Colorado, Pennsylvania, Delaware, New Mexico, Rhode Island
# ,Minnesota, Virgin Islands, New Hampshire, Massachusetts, Georgia
# ,North Dakota, Virginia
# """
# #list of regionName entries string length
# regNmLenStr = """
# 06,08,12,10,10,04,10,08,09,09,05,06,11,06,12,09,08,10,12,06,
# 06,06,08,05,09,06,05,06,10,28,06,06,09,06,08,09,10,35,09,15,
# 13,10,07,21,08,07,07,07,12,06,14,07,08,16,09,10,11,09,10,06,
# 11,05,06,09,10,12,06,06,11,07,08,13,07,11,05,06,06,07,10,08,
# 11,08,13,12,06,04,08,10,08,07,12,05,06,09,07,10,16,10,06,12,
# 08,07,06,06,06,11,14,11,07,06,06,12,08,10,11,06,10,14,04,11,
# 18,07,07,08,09,06,13,11,12,10,07,12,07,04,08,09,09,13,08,10,
# 16,09,10,08,06,08,12,07,11,09,07,09,06,12,06,09,07,10,09,10,
# 09,06,15,05,10,09,11,12,10,10,09,13,06,09,11,06,11,09,13,37,
# 06,13,06,09,49,07,11,12,09,11,11,07,12,10,06,06,09,04,09,15,
# 10,12,05,09,08,09,09,07,14,06,07,16,12,09,07,09,06,32,07,08,
# 08,06,10,36,09,10,09,06,09,11,09,06,10,07,14,08,07,06,10,09,
# 05,11,07,06,08,07,05,07,07,04,06,05,09,04,25,06,07,08,05,08,
# 06,05,11,09,07,07,06,13,09,05,16,05,10,09,08,11,06,06,06,10,
# 09,07,06,07,10,05,08,07,06,08,06,30,09,07,06,11,07,12,08,09,
# 16,12,11,08,06,04,10,10,15,05,11,11,09,08,06,04,10,10,07,09,
# 11,08,26,07,13,05,11,03,08,07,06,05,08,13,10,08,08,08,07,07,
# 09,05,04,11,11,07,06,10,11,03,04,06,06,08,08,06,10,09,05,11,
# 07,09,06,12,13,09,10,11,08,07,07,08,09,10,08,10,08,56,07,12,
# 07,16,08,04,10,10,10,10,07,09,08,09,09,10,07,09,09,09,12,14,
# 10,29,19,07,11,12,13,13,09,10,12,12,12,08,10,07,10,07,07,08,
# 08,08,09,10,09,11,09,07,09,10,11,11,10,09,09,12,09,06,08,07,
# 12,09,07,07,06,06,08,06,15,08,06,06,10,10,10,07,05,10,07,11,
# 09,12,10,12,04,10,05,05,04,14,07,10,09,07,11,10,10,10,11,15,
# 09,14,12,09,09,07,12,04,10,10,06,10,07,28,06,10,08,09,10,10,
# 10,13,12,08,10,09,09,07,09,09,07,11,11,13,08,10,07
# """

# df = get_list_of_university_towns()

# cols = ["State", "RegionName"]

# print('Shape test: ', "Passed" if df.shape ==
#       (517, 2) else 'Failed')
# print('Index test: ',
#       "Passed" if df.index.tolist() == list(range(517))
#       else 'Failed')

# print('Column test: ',
#       "Passed" if df.columns.tolist() == cols else 'Failed')
# print('\\n test: ',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\n')) or any(df[cols[1]].str.contains('\n'))
#       else 'Passed')
# print('Trailing whitespace test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\s+$')) or any(df[cols[1]].str.contains(
#               '\s+$'))
#       else 'Passed')
# print('"(" test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\(')) or any(df[cols[1]].str.contains(
#               '\('))
#       else 'Passed')
# print('"[" test:',
#       "Failed" if any(df[cols[0]].str.contains(
#           '\[')) or any(df[cols[1]].str.contains(
#               '\]'))
#       else 'Passed')

# states_vlist = [st.strip() for st in stateStr.split(',')]

# mismatchedStates = df[~df['State'].isin(
#     states_vlist)].loc[:, 'State'].unique()
# print('State test: ', "Passed" if len(
#     mismatchedStates) == 0 else "Failed")
# if len(mismatchedStates) > 0:
#     print()
#     print('The following states failed the equality test:')
#     print()
#     print('\n'.join(mismatchedStates))

# df['expected_length'] = [int(s.strip())
#                          for s in regNmLenStr.split(',')
#                          if s.strip().isdigit()]
# regDiff = df[df['RegionName'].str.len() != df['expected_length']].loc[
#     :, ['RegionName', 'expected_length']]
# regDiff['actual_length'] = regDiff['RegionName'].str.len()
# print('RegionName test: ', "Passed" if len(regDiff) ==
#       0 else ' \nMismatching regionNames\n {}'.format(regDiff))

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [4]:
import numpy as np
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    gdp=pd.read_excel('gdplev.xls',skiprows=5)
    gdp.drop(["Unnamed: 3","Unnamed: 7","Unnamed: 0","GDP in billions of current dollars","GDP in billions of chained 2009 dollars"],axis=1,inplace=True)
    gdp.rename(columns={"Unnamed: 4":"col","GDP in billions of current dollars.1":"GDP in billions of current dollars","GDP in billions of chained 2009 dollars.1":"GDP in billions of chained 2009 dollars"},inplace=True)
    # print(gdp.index[gdp["col"]=="2000q1"])
    gdp=gdp[214:]
    gdp.reset_index(drop=True,inplace=True)
    l=[]
    for i in range(len(gdp)):
        if i==0:
            l.append(0)
        else:
            val=gdp.iloc[i]["GDP in billions of chained 2009 dollars"]-gdp.iloc[i-1]["GDP in billions of chained 2009 dollars"]
            l.append(val)

    gdp["Change"]=l
    # gdp.head(40)
    l=[]
    for i in range(len(gdp)-1):
        if (gdp.iloc[i]["Change"]<0) and (gdp.iloc[i+1]["Change"]<0):
            l.append(i)
    #         print(gdp.iloc[i]["GDP in billions of chained 2009 dollars"],gdp.iloc[i+1]["GDP in billions of chained 2009 dollars"])

    recession_start=min(l)
    return gdp.iloc[min(l)]["col"]
get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    recession_start=gdp.index[gdp["col"]==get_recession_start()][0]
    for i in range(recession_start,len(gdp)):
        if gdp.iloc[i]["Change"]>0 and gdp.iloc[i-1]["Change"]>0:
            recession_end=i
            break
        
    return gdp.iloc[recession_end]["col"]
# get_recession_end()
gdp=pd.read_excel('gdplev.xls',skiprows=5)
gdp.drop(["Unnamed: 3","Unnamed: 7","Unnamed: 0","GDP in billions of current dollars","GDP in billions of chained 2009 dollars"],axis=1,inplace=True)
gdp.rename(columns={"Unnamed: 4":"col","GDP in billions of current dollars.1":"GDP in billions of current dollars","GDP in billions of chained 2009 dollars.1":"GDP in billions of chained 2009 dollars"},inplace=True)
# print(gdp.index[gdp["col"]=="2000q1"])
gdp=gdp[214:]
gdp.reset_index(drop=True,inplace=True)
l=[]
for i in range(len(gdp)):
    if i==0:
        l.append(0)
    else:
        val=gdp.iloc[i]["GDP in billions of chained 2009 dollars"]-gdp.iloc[i-1]["GDP in billions of chained 2009 dollars"]
        l.append(val)

gdp["Change"]=l
gdp["col"][65]

'2016q2'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    gdp=pd.read_excel('gdplev.xls',skiprows=5)
    gdp.drop(["Unnamed: 3","Unnamed: 7","Unnamed: 0","GDP in billions of current dollars","GDP in billions of chained 2009 dollars"],axis=1,inplace=True)
    gdp.rename(columns={"Unnamed: 4":"col","GDP in billions of current dollars.1":"GDP in billions of current dollars","GDP in billions of chained 2009 dollars.1":"GDP in billions of chained 2009 dollars"},inplace=True)
    # print(gdp.index[gdp["col"]=="2000q1"])
    gdp=gdp[214:]
    gdp.reset_index(drop=True,inplace=True)
    l=[]
    for i in range(len(gdp)):
        if i==0:
            l.append(0)
        else:
            val=gdp.iloc[i]["GDP in billions of chained 2009 dollars"]-gdp.iloc[i-1]["GDP in billions of chained 2009 dollars"]
            l.append(val)

    gdp["Change"]=l
    recession_start=gdp.index[gdp["col"]==get_recession_start()][0]
    for i in range(recession_start,len(gdp)):
        if gdp.iloc[i]["Change"]<0 and gdp.iloc[i+1]["Change"]>0:
            recession_end=i
            break
        
    return gdp.iloc[recession_end]["col"]
get_recession_bottom()

'2009q2'

In [7]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    gdp=pd.read_excel('gdplev.xls',skiprows=5)
    gdp.drop(["Unnamed: 3","Unnamed: 7","Unnamed: 0","GDP in billions of current dollars","GDP in billions of chained 2009 dollars"],axis=1,inplace=True)
    gdp.rename(columns={"Unnamed: 4":"col","GDP in billions of current dollars.1":"GDP in billions of current dollars","GDP in billions of chained 2009 dollars.1":"GDP in billions of chained 2009 dollars"},inplace=True)
    # print(gdp.index[gdp["col"]=="2000q1"])
    gdp=gdp[214:]
    gdp.reset_index(drop=True,inplace=True)
    l=[]
    for i in range(len(gdp)):
        if i==0:
            l.append(0)
        else:
            val=gdp.iloc[i]["GDP in billions of chained 2009 dollars"]-gdp.iloc[i-1]["GDP in billions of chained 2009 dollars"]
            l.append(val)

    gdp["Change"]=l

    house=pd.read_csv("City_Zhvi_AllHomes.csv")
#     house.columns[51+199]
    new_df=pd.DataFrame()

    for i in range(51,len(house.columns)-1,3):
        if i==len(house.columns)-2:
    #         print(i)
            new_df["col"+str(i)]=(house[house.columns[i]]+house[house.columns[i+1]])/2

        else:
            new_df["col"+str(i)]=(house[house.columns[i]]+house[house.columns[i+1]]+house[house.columns[i+2]])/3
    l=gdp["col"]
    l1=pd.Series("2016q3")
    l=l.append(l1)
    new_df.columns=l
    df=pd.DataFrame()
#     new_df["Metro"]=house["Metro"]
#     new_df["RegionName"]=house["RegionName"]
#     df["State"]=get_list_of_university_towns()["State"]
#     df["RegionName"]=get_list_of_university_towns()["RegionName"]
    new_df["RegionName"]=house["RegionName"]
    new_df["State"]=house["State"]
    new_df=new_df.replace({'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'})
    new_df=new_df.set_index(["State","RegionName"])

#     new_df=new_df.groupby(level=0).RegionName
    return new_df
convert_housing_data_to_quarters().loc["Ohio"].loc["Dayton"].loc["2010q3"]
# convert_housing_data_to_quarters()
# 180, 2595, 3195, 5227, 5461, 6247, 6591, 7707, 10611], dtype='int64')

nan

In [8]:
from scipy import stats
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    
    return "ANSWER"
unitowns = get_list_of_university_towns()
bottom = get_recession_bottom()
start = get_recession_start()
hdata = convert_housing_data_to_quarters()
bstart = hdata.columns[hdata.columns.get_loc(start) - 1]
print(bottom)
hdata['ratio'] =  hdata[bstart] - hdata[bottom]
print(bottom)
hdata = hdata[[bottom, bstart, 'ratio']]

hdata = hdata.reset_index()

unitowns_hdata = pd.merge(hdata,unitowns,how='inner',on=['State','RegionName'])
unitowns_hdata['uni'] = True
hdata2 = pd.merge(hdata, unitowns_hdata, how='outer', on=['State','RegionName',bottom, bstart, 'ratio'])
hdata
# hdata2['uni'] = hdata2['uni'].fillna(False)

# ut = hdata2[hdata2['uni'] == True]
# nut = hdata2[hdata2['uni'] == False]

# t,p = ttest_ind(ut['ratio'].dropna(), nut['ratio'].dropna())

# different = True if p<0.01 else False
# better = "university town" if ut['ratio'].mean() < nut['ratio'].mean() else "non-university town"

# print(different, p, better)

# run_ttest()

2009q2
2009q2

,State,RegionName,2009q2,2008q2,ratio
0,New York,New York,465833.333333,503933.333333,38100.000000
1,California,Los Angeles,413900.000000,502266.666667,88366.666667
2,Illinois,Chicago,219700.000000,237900.000000,18200.000000
3,Pennsylvania,Philadelphia,116166.666667,118133.333333,1966.666667
4,Arizona,Phoenix,168233.333333,205266.666667,37033.333333
...,...,...,...,...,...
10725,Wisconsin,Town of Wrightstown,144833.333333,149966.666667,5133.333333
10726,New York,Urbana,123433.333333,115900.000000,-7533.333333
10727,Wisconsin,New Denmark,178833.333333,173466.666667,-5366.666667
10728,California,Angels,282866.666667,328033.333333,45166.666667
10729,Wisconsin,Holland,198200.000000,225100.000000,26900.000000